*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #03153a;
}
.App {
  
  text-align: center;
  background-color: #03153a;
  border-radius: 30px;
  font-family: 'Comic Neue', cursive;

}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
  /* background: #0466c8; */
  height: 50px;
  border-radius: 0px;
  margin: 10px 0px 15px 0px;
}
nav h4{
  font-size: 15px;
  color: #e7e7e7;
}
.nav-links{
 
display: flex;
flex-direction: row;
justify-content: space-around;
  list-style-type: none;
}
nav li{
font-size: 14px;
margin: 0px 9px;
}


/* input */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  color: white;
  display: flex;
  padding: 2px;
  border-radius: 20px;
  width: 210px;
  border: 1px solid #e7e7e7;
  margin: 0 0 30px;
}

.search-bar{
  border: none;
  background: transparent;
  margin: 0;
  width: 200px;
  padding: 4px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: 20px;
  outline: none;
}

.search-button{
  
  width: 50px;
  padding: 0;
  margin: 0;
  background: transparent;
  border: 1px solid transparent;
  border-radius: inherit;
  
}
.fa-search{
  background: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  color: #0466c8;
 
}

/* movie */

.movie{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}

.movie-img{
  height: 45vh;
  width: 35vh;
  border-radius: 20px;
  margin: 10px 0px 10px 0px;
}
.movie-title{
  font-size: 15px;
  color: white!important;
  text-decoration: none;
  width: 140px!important;
 
  text-decoration: none;
}
.movie-year{
  font-size: 15px;
  color: #b0b5bf;
}
.fav{
background: transparent;
border: none;
}
.favorite{
color: white;
}
.fa-heart{
  
  color: #b0b5bf;
}

.fa-heart-circle-plus{
  color: #d5dde6;
}
.fa-heart-circle-check{
  color: #0466c8;
}

.fa-film, .fa-envelope, .fa-user{
  color: #0466c8;
}
.fa-film{
  margin-left: 20px;
  font-size: 25px;
}






